@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap"); @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap"); * {
    /* font-family: Manrope, sans-serif; */
}

:root {
    --primary-color: #3a3a3a;
}

.section-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(58, 58, 58);
    font-family: 'Poppins';
}

.primary-btn {
    border-radius: 41px;
    background: rgb(224, 44, 109);
    color: rgb(255, 255, 255);
    padding: 10px 24px;
    gap: 8px;
    display: inline-flex;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Poppins';
}

.text-light-gray {
    color: rgb(58, 58, 58);
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    font-family: 'Poppins';
}

header {
    padding: 0px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 120px;
    font-family: 'Poppins';
}

nav > ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: rgb(66, 66, 66);
}

.banner-section {
    max-width: 1250px;
    margin: 0px auto;
    min-height: 400px;
    display: flex;
    justify-content: space-between;
}

.text-container {
    width: 50%;
}

.banner-img-container {
    padding: 20px;
    background-image: url("../images/Circle design.svg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 50%;
    background-size: contain;
}

.banner-section, h1 {
    color: rgb(58, 58, 58);
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
    margin-top: 10vh;
    font-family: 'Poppins';
    /* padding: 0px 120px; */
}

.sponsors {
    margin-top: 10vh;
    padding: 0px 165px;
}

.sponsors-img-container {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
}

.collection {
    text-align: center;
    margin: 196px;
}

.collection-title {
    color: rgb(58, 58, 58);
    font-size: 28px;
    font-weight: 600;
    font-family: 'Poppins';
}

.collection-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.collection-card-container .card {
    border-radius: 5px;
    padding: 14px;
    text-align: center;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 40px 0px;
}

.card-title {
    font-size: 28px;
    font-weight: 500;
    text-align: left;
    font-family: 'Poppins';
}

.card-price {
    font-size: 24px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
    text-align: left;
    font-family: Inter;
}

.card-description {
    text-align: left;
    font-size: 14px;
    font-weight: 700;
    color: rgb(120, 120, 133);
    font-family: Inter;
}

.card-see-more {
    color: rgba(224, 44, 109, 0.87);
    font-size: 16px;
    font-weight: 700;
    text-align: right;
    font-family: 'Poppins';
}

.featured {
    display: flex;
    justify-content: space-between;
    max-width: 1250px;
    margin: 10vh 165px;
    align-items: center;
}

.featured-img {
    border-radius: 7px;
}

.featured-text {
    padding: 23px;
}

.featured-main-text {
    font-size: 24px;
    font-weight: 700;
    color: rgb(10, 8, 38);
    font-family: 'Poppins';
    margin: auto;
    /* align-items: center; */
}

.featured-description {
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    color: rgb(108, 108, 108);
    font-family: 'Poppins';
}

.featured-btn {
    padding: 10px 24px;
    display: inline-flex;
    align-items: flex-start;
    background: rgb(224, 44, 109);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    font-family: 'Poppins';
}

.footer {
    background-color: rgb(10, 8, 38);
    color: rgb(255, 255, 255);
    width: 100%;
    margin-top: 20vh;
    text-align: center;
    padding: 50px;
}

.footer-text {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Poppins';
}

.footer-description {
    font-size: 14px;
    font-weight: 700;
    font-family: Manrope;
}



/* mobile responsive */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }

    nav,
    .banner-section,
    .collection-card-container
    {
        flex-direction: column;
        padding: 0;
    }

    .primary-btn{
        font-weight: 500;
    }

    .section-title{
        font-size: 16px;
    }

    .banner-section{
        margin: 0;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .banner-section, h1{
        margin-top: 0;
        font-size: 28px;
        line-height: normal;
        /* padding: 0; */
        /* font-weight: 700; */
    }

    .text-container {
        width: 100%;
        text-align: center;
        /* line-height: 0; */
        text-size: 28px;
    }
    
    .text-light-gray{
        font-size: 14px;
        font-weight: 500;
    }

    .sponsors{
        margin-top: 5vh;
        padding: 0;
    }

    .sponsors-img-container{
        display: flex;
        flex-wrap: wrap;
    }

    .collection {
        text-align: center;
        margin: 0;
    }

    .collection-card-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
    }

    .featured {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        margin: 0;
    }

    .featured-main-text {
        font-size: 24px;
        font-weight: 700;
        color: #0a0826;
        font-family: 'Poppins';
        margin: auto;
        text-align: center;
    }

    .featured-description {
        font-size: 16px;
        font-weight: 700;
        line-height: 28px;
        color: rgb(108, 108, 108);
        font-family: 'Poppins';
        text-align: center;
    }

    .footer {
        background-color: rgb(10, 8, 38);
        color: rgb(255, 255, 255);
        width: auto;
        margin-top: 10vh;
        text-align: center;
        padding: 50px;
    }

    .footer-text {
        font-size: 16px;
        font-weight: 700;
        font-family: 'Poppins';
    }

    .footer-description {
        font-size: 12px;
        font-weight: 700;
        font-family: Manrope;
    }


}